# Dependencies
node_modules/
dist/

# Environment
.env
.env.local
.env.*.local

# Database
*.db

# Logs
*.log
npm-debug.log*
bun.lockb.bak

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
prisma/*.db
prisma/*.db-journal
.zed/
